<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itlbw.mapper.ClazzMapper">
    <select id="insert" resultType="com.itlbw.pojo.Clazz">
        insert into clazz(name,room,begin_date,end_date,master_id,subject,create_time,update_time) values (#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subject},#{createTime},#{updateTime})
    </select>

    <select id="getClazzById" resultType="com.itlbw.pojo.Clazz">
        select * from clazz where id = #{id}
    </select>
    <select id="findAll" resultType="com.itlbw.pojo.Clazz">
        select * from clazz
    </select>

    <select id="selectNumber" resultType="java.lang.Integer">
        select count(*) from clazz
    </select>
<!--    存在问题 ：查询出结课并不在该范围内的班级-->
    <select id="list" resultType="com.itlbw.pojo.Clazz">
        SELECT clazz.*,emp.name as masterName FROM clazz LEFT JOIN emp ON clazz.`master_id` = emp.id
        <where>
            <if test="name != null">
                 emp.name like concat('%',#{name},'%') and
            </if>
            <if test=" begin != null and end != null">
                end_date between #{begin} and #{end}
            </if>
        </where>

    </select>
</mapper>